* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    font-family: "Rubik", sans-serif; 
}

.blackContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 1707px;
    background-color: var(--bg-color);;
    color:  var(--text-color);
    gap: 20px;
}

.first {
    margin: 55px auto 0px 35px;
}

.header{
    font-size: 64px;
}

.list{
    display: flex;
    flex-direction: column;
    align-items: center;
    list-style: none;
    font-size: 32px;
}

