.iconContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 3px solid var(--text-color);
    border-radius: 65px;
    padding: 38px 57px;
    margin: 31px 0 195px;
    width: 446px;
    height: 175px;
    transition: transform 0.3s ease;
}

.linkIcon {
    margin: 18px;
    background-color: var(--bg-color);
    border: none;
    transition: transform 0.3s ease, background-color 0.3s ease;
    display: inline-block;
    position: relative;
}

.icon {
    transition: all 0.3s;
    cursor: pointer;
    fill: var(--text-color);
  }
  
  .icon:hover {
    fill: var(--hover-color);
    filter: drop-shadow(0 30px 35px 0 rgba(65, 115, 166, 0.15));
  }
  
  
.linkIcon:hover {
    transform: translateY(-5%);
    background-color: transparent;
}



@media screen and (max-width: 768px) {
    .iconContainer {
        flex-direction: column;
        padding: 20px;
        width: 90%; 
        height: auto;
        margin-bottom: 30px;
    }

    .linkIcon {
        margin: 10px;
    }
}
